<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Mapper名称 对应infra中mapper类名-->
<mapper namespace="com.seimicrawler.demo.infra.persistence.sql.MovieMapper">
    <insert id ="insertMovieModel">
        INSERT INTO movie_crawler(
        url,
        title,
        context,
        time
        )VALUE(
        #{model.url},
        #{model.title},
        #{model.context},
        #{model.time}
        )
    </insert >

    <select id="selectMovieModelAll">
        SELECT *
        FROM
        movie_crawler
    </select>
</mapper>